name: Playwright
on:
    workflow_call:
        inputs:
            webapp-artifact:
                required: false
                description: Name of the artifact containing the webapp bundle to test, only intended for downstream testing from element-web.
                type: string

permissions: {}

jobs:
    playwright:
        name: Run Playwright end-to-end tests & upload html report
        runs-on: ubuntu-24.04-arm
        steps:
            - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
              with:
                  repository: ${{ inputs.webapp-artifact && 'element-hq/element-modules' || github.repository }}

            - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
              with:
                  cache: "yarn"
                  node-version: "lts/*"

            - name: Install Deps
              run: "yarn install --frozen-lockfile"

            - name: Get installed Playwright version
              id: playwright
              run: echo "version=$(yarn list --pattern @playwright/test --depth=0 --json --non-interactive --no-progress | jq -r '.data.trees[].name')" >> "$GITHUB_OUTPUT"

            - name: Cache playwright binaries
              uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
              id: playwright-cache
              with:
                  path: ~/.cache/ms-playwright
                  key: ${{ runner.os }}-${{ runner.arch }}-playwright-${{ steps.playwright.outputs.version }}

            - name: Install Playwright browsers
              if: steps.playwright-cache.outputs.cache-hit != 'true'
              run: yarn playwright install --with-deps --no-shell

            - name: Fetch webapp
              if: inputs.webapp-artifact
              uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4
              with:
                  name: ${{ inputs.webapp-artifact }}
                  path: webapp
            - name: Run webapp
              if: inputs.webapp-artifact
              uses: Eun/http-server-action@f71cec1321f665652a46c40b6852f8e5a68bfcd4 # v1
              with:
                  directory: webapp
                  port: 8080
                  index-files: '["index.html"]'

            - name: Run Playwright tests
              run: yarn playwright test --reporter=html,@element-hq/element-web-playwright-common/lib/stale-screenshot-reporter.js

            - name: Upload blob report to GitHub Actions Artifacts
              if: always()
              uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
              with:
                  name: playwright-html-report
                  path: playwright-report
                  retention-days: 14
