name: Static Analysis
on:
    pull_request: {}
    push:
        branches: [main]
concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
    cancel-in-progress: true

permissions: {} # No permissions required

jobs:
    analysis:
        name: Run ${{ matrix.cmd }}
        runs-on: ubuntu-24.04-arm
        strategy:
            fail-fast: false
            matrix:
                cmd:
                    - lint:types
                    - lint:codestyle
                    - lint:eslint
                    - lint:workflows
                    - lint:prettier
                    - lint:knip
        steps:
            - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

            - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
              with:
                  cache: "yarn"
                  node-version: "lts/*"

            - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
              with:
                  python-version: "3.11"

            - name: Install Deps
              run: "yarn install --frozen-lockfile"

            - name: Run check
              run: "yarn run ${{ matrix.cmd }}"
