name: Tests
on:
    pull_request: {}
    push:
        branches: [main]
concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
    cancel-in-progress: true

permissions: {}

jobs:
    test:
        name: Run tests & upload coverage reports
        runs-on: ubuntu-24.04-arm
        steps:
            - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

            - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
              with:
                  cache: "yarn"
                  node-version: "lts/*"

            - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
              with:
                  python-version: "3.11"

            - name: Install Deps
              run: "yarn install --frozen-lockfile"

            - name: Run tests
              run: yarn test

            - name: Fixup python coverage
              run: sed -ie 's/filename="/filename="modules\/restricted-guests\/synapse\//' modules/restricted-guests/synapse/coverage.xml

            - name: Upload Artifact
              uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
              with:
                  name: coverage
                  path: |
                      modules/restricted-guests/synapse/coverage.xml
                      **/coverage
                      !**/coverage/lcov-report
                      !**/node_modules/**

    playwright:
        name: Run Playwright end-to-end tests & upload html report
        uses: ./.github/workflows/reusable-playwright-tests.yml
